/* scaffolding */

:focus,
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-blue-300);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-blue-200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-blue-400);
  font-size: var(--font-size-200);
  font-family: Assistant, sans-serif;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizespeed;
  background-color: var(--color-white);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.button {
  display: block;
  width: 100%;
  min-height: 45px;
  padding: 10px 15px;
  color: var(--color-white);
  font-size: var(--font-size-200);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-blue-200);
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--color-blue-300);
}
