:root {
  --color-white: #ffffff;
  --color-blue-100: #eef8fb;
  --color-blue-200: #96daf0;
  --color-blue-300: #7cbcde;
  --color-blue-400: #242a3a;
  --color-gray: #e1e1e1;
  --overlay-color: rgb(0 0 0 / 30%);
  --shadow: -1px 4px 74px -16px rgb(0 0 0 / 15%);
  --font-size-100: 14px;
  --font-size-200: 16px;
  --font-size-300: 18px;
  --font-size-400: 24px;
  --font-size-500: 32px;
  --font-size-600: 36px;
  --container-width: 1000px;
}
