.root {
    text-align: center;
    padding: 100px;
    min-width: 750px;
    margin: 0 auto;
}

.span {
    font-size: 64px;
}

.description {
    font-size: 18px;
}

.title {
    margin: 10px 0px;
}