.lesson {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  color: var(--color-white);
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}

.lesson__title {
  margin-top: 5px;
  margin-bottom: 10px;
  color: lightgray;
  text-transform: uppercase;
}

.lesson__describe {
  margin: 0;
}
